<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Filter Photos for Airport Challenge</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Include the AngularJS library -->
    <script src="js/angular.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
</head>
<body style="padding: 10px 10px 10px 10px" ng-app="FilterApp">
<h1>Click on photo to send it to database as verified</h1>
<div style="margin-left: 30px" ng-controller="MainController">
    <h3>Please enter name of the json file to display:</h3>
    <h5>for example: Frankfurt, Germany Frankfurt Airport.json</h5>
    <input id="autocompleteinput" type="text" ng-model="airportFile">
    <a class="btn btn-primary" ng-click="openFile()">Choose</a>
<div style="margin-top:40px;" class="row" >
    <div class="col-md-6 thumbnail" ng-repeat="photo in photos">
        <img class="img-responsive" ng-src="{{photo.path}}" ng-click="verify($index)">
        <p>{{photo.city}}</p>
        <h3>{{photo.verified}}</h3>
    </div>
</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/MainController.js"></script>
<script src="js/services/airportList.js"></script>
<script>
        $( "#autocompleteinput" ).autocomplete({
      source: "js/lhba_filename_lookup.json",
    });
</script>
</body>
</html>